{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "paths": {
      "@/*": ["./*"]
    },
    "baseUrl": "/"
  },
  "minify": false,
  "exclude": [
    "node_modules",
    "test",
    "dist",
    ".spec.ts",
    "extensions",
    "codegen.ts"
  ]
}
